* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  cursor: pointer;
}

:root {
  --color-white: #fff;
  --color-black: #272a31;
  --color-red: #ec5242;
  --color-gray: #d3d3d3;
  --color-gray-dark: #adadad;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

/* ------------------------------------------styling the Nav bar------------------------------- */
.mobile-nav-wrapper {
  background-color: #bdbdbd;
}

.mobile-nav-button {
  padding: 20px;
  font-size: 20px;
}

.nav-link-item {
  color: var(--color-black);
  font-weight: 600;
  font-size: 20px;
  transition: var(--transition);
}

.ticket {
  color: var(--color-red);
  border: 2px solid var(--color-red);
  padding: 6px;
}

.ticket:hover {
  background-color: var(--color-gray);
}

/* ------------------------------------Styling the Home page----------------------------------- */
.home-page {
  background-image: url(images/homeBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
}

.home-page-wrapper {
  padding: 24px;
  padding-bottom: 50px;
  background-color: var(--color-white);
  opacity: 0.7;
}

.h2-main-heading,
h1 {
  color: var(--color-red);
}

.gradient {
  background: linear-gradient(red, orange);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.h2-main-heading {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 12px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 12px;
}

.home-paragraph {
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.5;
  padding: 12px;
  border: 1px solid #e1d9d1;
  margin-bottom: 12px;
}

.home-concert-date {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 12px;
}

.hide {
  display: none;
}

/* ---------------------Mobile Navigation Menu---------------------------- */
.mobileOverlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 28px;
  opacity: 0.95;
  background-color: var(--color-gray);
  width: 100vw;
  min-height: 100vh;
}

.mobileMenuFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.closeModalBtn {
  color: var(--color-black);
  font-size: 24px;
}

.menuContainer > ul > li {
  margin-bottom: 20px;
}

.program-section {
  background-image: url(images/main-program-bckg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
}

/* ------------------------------------------Styling the Program Section------------------------------- */
.programeCard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 12px;
}

.programHeading {
  color: var(--color-white);
  text-align: center;
}

.hrElement {
  border: 1px solid var(--color-red);
  width: 80px;
  margin-bottom: 12px;
}

.program-articles {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 12px;
}

.programArticle {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
  background-color: #cac5c523;
  gap: 5px;
  padding: 10px;
}

.programIcon {
  font-size: 30px;
  color: var(--color-white);
}

.programTitle {
  color: var(--color-red);
  font-size: 16px;
  font-weight: 500;
}

.programDescription {
  color: var(--color-white);
  font-size: 14px;
}

.seeProgramLink {
  display: none;
  color: var(--color-white);
  text-decoration: underline;
  font-size: 14px;
}

.buyTicketBtn {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-red);
  border: none;
  padding: 20px 60px;
  transition: var(--transition);
}

.buyTicketBtn :hover {
  color: var(--color-red);
  background-color: var(--color-gray);
}

.buyTicketBtn :active {
  font-size: 16px;
  font-weight: 700;
}

/* ------------------------------------Styling the Featured Artists Section-------------------------------- */

.sectionHeading {
  color: var(--color-black);
  text-align: center;
}

.artistsCards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.artist {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.artistImage {
  width: 150px;
  height: 150px;
}

.artistTextContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.artistName {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 800;
}

.artistBio {
  color: var(--color-red);
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}

.artistHr {
  border: 1px solid var(--color-gray);
  width: 50px;
}

.artistDescription {
  color: var(--color-black);
  font-size: 14px;
  font-weight: normal;
}

.moreArtistsLink,
.lessArtistsLink {
  color: var(--color-black);
  font-weight: 600;
  border: 2px solid var(--color-gray);
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  text-align: center;
}

.mrgnLft {
  margin-left: 8px;
  color: var(--color-red);
}

/* ------------------------------------------Styling the Partners Section------------------------------- */
.partnersSection {
  background-color: var(--color-black);
}

.partnerSectionHeading {
  color: var(--color-white);
  text-align: center;
}

.partnersNames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.row1,
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.partnerName {
  color: var(--color-gray-dark);
  font-weight: 800;
}

/* ------------------------------------------Styling the Footer------------------------------- */
.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.footerImage {
  height: 50px;
}

.footerTextContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footerText {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 600;
}

.hiddenPassage {
  display: none;
}

/* ------------------------------------------Styling the About page------------------------------- */

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  padding-bottom: 50px;
  background-color: var(--color-gray);
  opacity: 0.9;
}

.mainH1 {
  text-align: center;
}

.homeAbtHr {
  margin-bottom: 30px;
}

.aboutHomePassage {
  background-color: var(--color-white);
  opacity: 1;
  border: 1px solid var(--color-gray-dark);
  margin: 0 24px;
}

.aboutPmessage,
.abtLogoDescription {
  text-align: center;
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.5;
  padding: 12px;
  padding-bottom: 0;
}

.aboutEmail {
  text-align: center;
  color: var(--color-black);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  padding: 12px;
  margin-bottom: 12px;
  text-decoration: underline;
}

.whiteBgWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  padding: 24px;
  padding-bottom: 50px;
}

.headingCenter {
  text-align: center;
  margin-bottom: 12px;
  color: var(--color-black);
  padding: 0 50px;
}

.abtHr {
  text-align: center;
}

.abtLogoDescription {
  margin-bottom: 24px;
}

.abtLogoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray);
  width: 90%;
  margin: 0 24px;
}

.abtLogiImg {
  padding: 20px;
}

.pastConcerts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 20px;
  border-top: 2px solid var(--color-gray);
  background-color: var(--color-white);
}

.concerts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 90%;
}

.firstConcert {
  background-image: url('images/ross.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.secondConcert {
  background-image: url('images/jah.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.orangeBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px;
  background-color: var(--color-red);
  opacity: 0.7;
}

.pastConcertText {
  text-align: center;
  color: var(--color-white);
}

.concertYear {
  font-size: 30px;
  font-weight: 700;
}

.concertVenue {
  font-size: 16px;
  font-weight: 500;
}

.abtPartners,
.abtFooter {
  width: 100%;
}

/* ------------------------------------Media Queries----------------------------------- */

@media all and (min-width: 768px) {
  /* ------------------------------------------styling the Nav bar------------------------------- */
  .closeModalBtn {
    display: none;
  }

  .openModal {
    display: none;
  }

  .menuContainer {
    display: block;
  }

  .menuContainer > ul > li {
    margin-bottom: 0;
  }

  .nav-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    background-color: var(--color-black);
    padding: 12px 142px;
  }

  .nav-socials-link {
    color: var(--color-white);
  }

  .nav-bar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 4px 142px;
    align-items: center;
  }

  .logo-img {
    height: 50px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
  }

  .nav-link-item {
    font-weight: 600;
    font-size: 14px;
  }

  .nav-link-item:hover {
    color: gray;
  }

  .nav-link-item:active {
    color: var(--color-red);
    padding: 12px;
    border: 1px solid var(--color-red);
  }

  /* ------------------------------------Styling the Home page----------------------------------- */

  .home-page-wrapper {
    padding: 80px 142px;
  }

  .otherPagesWrapper {
    padding: 30px 142px;
  }

  .h2-main-heading {
    font-size: 30px;
  }

  h1 {
    font-size: 40px;
    line-height: 1.5;
  }

  .home-paragraph {
    width: 60%;
  }

  /* ------------------------------------------Styling the Program Section------------------------------- */
  .programeCard-wrapper {
    padding: 20px 142px 60px 142px;
  }

  .program-articles {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .programArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .programArticle:hover {
    background-color: var(--color-black);
    box-shadow: 2px 2px var(--color-gray);
  }

  .programDescription {
    text-align: center;
  }

  .seeProgramLink {
    display: block;
  }

  .seeProgramLink:hover {
    color: var(--color-gray);
    border-bottom: 1px solid var(--color-red);
    text-decoration: none;
  }

  .buyTicketBtn {
    display: none;
  }

  /* ---------------------------------------Styling the Artists Section----------------------------- */
  .artistsCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
  }

  .moreArtistsLink {
    display: none;
  }

  /* ------------------------------------------Styling the Partners Section------------------------------- */

  .partnersNames {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }

  .row1,
  .row2 {
    gap: 100px;
  }

  /* ------------------------------------------Styling the Footer------------------------------- */
  .footerContainer {
    grid-template-columns: 1fr 2fr;
  }

  .firstFooterText {
    display: flex;
    gap: 6px;
  }

  .footerTextContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .hiddenPassage {
    display: block;
  }

  /* ------------------------------------------Styling the About page------------------------------- */

  .abtLogoDiv {
    width: 40%;
  }

  .concerts {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 90%;
  }
}
