* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  cursor: pointer;
}

:root {
  --color-white: #fff;
  --color-black: #272a31;
  --color-red: #ec5242;
  --color-gray: #d3d3d3;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

/* ------------------------------------------styling the Nav bar------------------------------- */
.mobile-nav-wrapper {
  background-color: #bdbdbd;
}

.mobile-nav-button {
  padding: 20px;
  font-size: 20px;
}

.nav-link-item {
  color: var(--color-black);
  transition: var(--transition);
}

/* ------------------------------------Styling the Home page----------------------------------- */
.home-page {
  background-image: url(images/homeBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  /* min-height: 100vh; */
}

.home-page-wrapper {
  padding: 24px;
  padding-bottom: 50px;
  background-color: var(--color-white);
  opacity: 0.7;
}

.h2-main-heading,
h1 {
  color: var(--color-red);
}

.h2-main-heading {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 12px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 12px;
}

.home-paragraph {
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.5;
  padding: 12px;
  border: 2px solid #ece9e9;
  margin-bottom: 12px;
}

.home-concert-date {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 12px;
}

.hide {
  display: none;
}

/* ---------------------Mobile Navigation Menu---------------------------- */
.mobileOverlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 28px;
  opacity: 0.95;
  background-color: var(--color-gray);
  width: 100vw;
  min-height: 100vh;
}

.mobileMenuFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-link-item {
  color: var(--color-black);
  font-weight: 600;
  font-size: 20px;
}

.closeModalBtn {
  color: var(--color-black);
  font-size: 24px;
}

.menuContainer > ul > li {
  margin-bottom: 20px;
}

.program-section {
  background-image: url(images/main-program-bckg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
}

/* ------------------------------------------Styling the Program Section------------------------------- */
.programeCard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 12px;
}

.programHeading {
  color: var(--color-white);
  text-align: center;
}

.hrElement {
  border: 1px solid var(--color-red);
  width: 80px;
  margin-bottom: 12px;
}

.program-articles {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 12px;
  margin-bottom: 40px;
}

.programArticle {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
  background-color: #cac5c523;
  gap: 5px;
  padding: 10px;
}

.programIcon {
  font-size: 30px;
  color: var(--color-white);
}

.programTitle {
  color: var(--color-red);
  font-size: 16px;
  font-weight: 500;
}

.programDescription {
  color: var(--color-white);
  font-size: 14px;
}

.seeProgramLink {
  color: var(--color-white);
  text-decoration: underline;
  font-size: 14px;
}

/* ------------------------------------Media Queries----------------------------------- */

@media all and (min-width: 768px) {
  /* ------------------------------------------styling the Nav bar------------------------------- */
  .closeModalBtn {
    display: none;
  }

  .openModal {
    display: none;
  }

  .menuContainer {
    display: block;
  }

  .menuContainer > ul > li {
    margin-bottom: 0;
  }

  .nav-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    background-color: var(--color-black);
    padding: 12px 142px;
  }

  .nav-socials-link {
    color: var(--color-white);
  }

  .nav-bar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 4px 142px;
    align-items: center;
  }

  .logo-img {
    height: 50px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
  }

  .about {
    color: var(--color-red);
  }

  .nav-link-item {
    font-weight: 600;
    font-size: 14px;
  }

  .nav-link-item:hover {
    color: gray;
  }

  .nav-link-item:active {
    color: var(--color-red);
    padding: 12px;
    border: 1px solid var(--color-red);
  }

  /* ------------------------------------Styling the Home page----------------------------------- */

  .home-page-wrapper {
    padding: 80px 142px;
  }

  .h2-main-heading {
    font-size: 30px;
  }

  h1 {
    font-size: 40px;
    line-height: 1.5;
  }

  .home-paragraph {
    width: 60%;
  }

  /* ------------------------------------------Styling the Program Section------------------------------- */
  .programeCard-wrapper {
    padding: 80px 142px;
  }

  .program-articles {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .programArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .programDescription {
    text-align: center;
  }
}
